<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See in Details</title>
        <link rel = "stylesheet" href="/style.css">
</head>
<body>
    <h1>POST DETAILS</h1>

    <div class="post">
        <h2 class="username"> @<%=post.username%> </h2>
        <h3 class="content"> <%=post.content%></h3>
    </div>

    <br>
    <br>

    <a href = "http://localhost:3000/posts"> Back to All Posts </a>
    
</body>
</html>